<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-menu-toggle style="padding-left: 10px;">
        <ion-icon size="large" name="menu"></ion-icon>
      </ion-menu-toggle>
      <ion-title id="radioName">{{radioPlaying}}</ion-title>

    </ion-row>


  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container" id="cardContainer">
    <div *ngFor="let r of radioChannels; let i = index" [attr.data-index]="i">
      <div class="card" (click)="selectRadio(r.url,i,r.name)" id="rad{{i}}">
        <div class="card-header">
          <img [src]="[r.icon]" [alt]="[r.name]" />
        </div>

      </div>
      <p id="radioNameShow">
        <span *ngIf="r.isLive" class="online">●</span>
        <span *ngIf="!r.isLive" class="offline">●</span>
        <span>{{r.name}}</span>
      </p>
    </div>

  </div>
  <br>
</ion-content>
<ion-navbar class="navBar">
  <ion-list >

    <ion-item class="volumeSlider">

      <ion-range  value="" [pin]="true" id="volume" min="0" max="100" step="1" (ionChange)="volume($event)" style="padding-top: 10px;">



        <ion-icon name="play" color="primary" slot="start" id="playButton" (click)="togglePlay()"></ion-icon>
        <ion-icon name="stop" color="danger" slot="start" id="stopButton" (click)="radioStop()"></ion-icon>
        <ion-icon size="small" slot="start" name="volume-low"></ion-icon>

        <ion-icon slot="end" name="volume-high">

        </ion-icon>

      </ion-range>

    </ion-item>
  </ion-list>
</ion-navbar>
